/*
"liveSassCompile.settings.generateMap": false,
    "liveSassCompile.settings.formats": [
        {
            "format": "expanded",
            "autoprefix": "last 5 version",
            "extensionName": ".css",
            "savePath": "css"
        }
    ]
*/

.block{
width: 100px;
height: 100px;
animation: change-background 2s ease infinite;
}

@keyframes exa{   
  from {     
    color: red;   
  }   
  to {
    color: blue
   }
}
