/*
"liveSassCompile.settings.generateMap": false,
    "liveSassCompile.settings.formats": [
        {
            "format": "expanded",
            "autoprefix": "last 5 version",
            "extensionName": ".css",
            "savePath": "css"
        }
    ]
*/
.block{
width: 100px;
height: 100px;
background-color: red;
-webkit-transition: all 0.3s ease-out;
animation:  all 0.3s ease-out;
}

@-webkit-keyframes example {

100% {
    background-color:blue;   
}
}