/*
"liveSassCompile.settings.generateMap": false,
    "liveSassCompile.settings.formats": [
        {
            "format": "expanded",
            "autoprefix": "last 5 version",
            "extensionName": ".css",
            "savePath": "css"
        }
    ]
*/
.block{
width: 100px;
height: 100px;
background-color: red;
transition: 1s;
&.after{
content: '';
animation blue;
}
}