.wrapper {
    display: flex;  
    flex-flow: row wrap;
  }
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
    background-color: #D3D3D3;
    width: 1000px;
    margin: auto;
  }
  align-items: stretch;  
}
.main {
flex-direction: column;
}
.footer {
  align-items: stretch;  
}