html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  line-height: 1;
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  height: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0px auto;
  padding: 0 15px;
}

.container__small {
  max-width: 855px;
}

@media (min-width: 767px) {
  .container {
    width: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1170px) {
  .container {
    width: 1140px;
  }
}

.wrap-header {
  min-height: 75rem;
  background: url(../img/Rectangle.jpg) 50% 50% no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.header {
  border-bottom: 1px solid #fff;
  padding: 3.3rem 0;
  text-align: right;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 900;
  white-space: nowrap;
  color: #0F4898;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.logo__text {
  color: #FFFFFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.logo:hover {
  opacity: 0.6;
}

.logo__text:hover {
  opacity: 0.6;
}

.header__menu {
  margin: 0 auto 0 13.5%;
  font-family: "Montserrat";
  overflow: hidden;
}

.btn-menu {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .menu__list {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}

.menu__item {
  margin: 0 0 0 20px;
}

.menu__link {
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .menu__link {
    color: #0F4898;
  }
}

.menu__link:hover {
  opacity: 0.6;
}

.contacts__link {
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

p {
  margin-bottom: 10px;
}

.contacts__link:hover {
  opacity: 0.6;
}

.project {
  position: relative;
  z-index: 1;
  padding: 100px 0 100px 0;
}

.project:before, .news:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #E5E5E5;
  z-index: -1;
}

.project:before {
  width: 60%;
  left: 0;
}

.news {
  min-height: 500px;
  position: relative;
  z-index: 1;
}

.news:before {
  width: 40%;
  right: 0;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.wrap__tittle {
  width: 50%;
}

@media (max-width: 767px) {
  .wrap__tittle {
    width: 100%;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

.subtitle {
  padding: 20px 0 40px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.box-project__text-container {
  position: relative;
}

.box-project__text {
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.project__text-content {
  padding: 40px;
  font-size: 13px;
  font-family: "Montserrat";
  line-height: 22px;
  background-color: white;
  width: 50%;
  margin-right: -80px;
  z-index: 5;
  margin-bottom: 50px;
  position: relative;
}

.project__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  margin-top: -100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (max-width: 767px) {
  .project__image {
    width: 100%;
  }
}

.slider {
  min-width: 0;
  position: relative;
  padding: 0 50px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #585858;
  width: 40px;
  height: 40px;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-next {
  margin-left: 45px;
}

.slick-arrow:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #585858;
  border-left: 2px solid #585858;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: 5px;
}

.slick-next:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 0;
  margin-right: 5px;
}

.slider .slick-arrow:hover {
  color: #0F4898;
  border-color: #0F4898;
}

.slider .slick-arrow:hover:before {
  border-color: #0F4898;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 97px;
}

.wrap-tittle__news {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .wrap-tittle__news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column align-items;
            flex-direction: column align-items;
  }
}

.news-item__image img {
  width: 100%;
}

.news-item {
  background-color: white;
  -webkit-box-shadow: 0 0 25px #E0E0E0;
          box-shadow: 0 0 25px #E0E0E0;
  padding: 0 0 20px 0;
}

.wrapper__news-item {
  margin: 20px;
}

.news-item__date {
  padding: 30px 0 0 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 12.89px;
  color: #343434;
  letter-spacing: 0.05em;
}

.news-item__label {
  padding: 15px 0 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.31px;
  color: #303942;
  letter-spacing: 0.03em;
}

.news-item__text {
  padding: 20px 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13.54px;
  color: #000000;
  letter-spacing: 0.05em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  background-color: #0F4898;
  border: #0F4898 solid 1px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: white;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  border: 1px solid #0F4898;
  color: #0F4898;
  background: rgba(0, 0, 0, 0);
}

.btn__all {
  margin-bottom: 20px;
}

.footer {
  background-color: #323232;
  padding: 40px 25px 22px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerr__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 12.89px;
  color: #DCDCDC;
  letter-spacing: 0.05em;
  text-align: initial;
  padding: 0 0 40px 0;
  text-align: center;
}

.column {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 16.41px;
  font-size: 14px;
}

.column:hover {
  color: #b1b0ae;
}

.footer__item {
  padding-right: 25px;
}

@media only screen and (max-width: 767px) {
  .menu__open {
    display: block;
  }
}

@media (max-width: 991px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__menu {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__contacts {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .header__contacts {
    display: none;
  }
  .header__menu {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 1rem 1.5rem !important;
    margin: 0;
  }
  .menu__list {
    display: block;
  }
  .menu__list li {
    margin-bottom: 20px;
  }
  .header__menu {
    display: block;
  }
  .header__menu li {
    margin: 40px 0px 40px 33px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .btn-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 1000;
    margin-left: auto;
  }
  .menu__list {
    display: block;
  }
  .btn-menu span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .btn-menu.active .btn-menu__item, .btn-menu.active:before, .btn-menu.active:after {
    background: #0F4898 !important;
    z-index: 99;
  }
  .btn-menu:before,
  .btn-menu:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .btn-menu:before {
    top: 0;
  }
  .btn-menu:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .btn-menu__item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F4898;
  }
  .btn-menu__item .btn-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .btn-menu__item .btn-menu:before {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .btn-menu__item .btn-menu:after {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__menu.active {
    top: 0;
  }
  .menu__list {
    display: block;
    margin-bottom: 20px;
  }
  .wrap-header {
    min-height: 50rem;
  }
  .project__text-content {
    width: 100%;
  }
  .box-project__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .wrap__title {
    width: 100%;
  }
  .project__image img {
    max-width: 100%;
    margin-top: 100px;
  }
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .btn__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
