.block1 {
    width: 1000px;
    margin: auto;   
}
.header {
}
..section {
    float: left;
    width: 30%;
    height: 200px;
    background-color: #D3D3D3;
}
.section2 {
    argin-left: 5%;
    margin-bottom: 5%;
}

.footer {
}