.header {
 background-color: #D3D3D3;
 border: ;
 width: 1000px;
 top: 50%;
 left: 50%;   
}
.container1 {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;     
}
.container2 {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;   
}
.container3 {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;   
}
.footer {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;   
}