div{
    background-color: #D3D3D3;
    width: 1000px;   
}
.header {

}
.container1 {
 
}
.container2 {
  
}
.container3 {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;   
}
.footer {
    background-color: #D3D3D3;
    width: 1000px;
    top: 50%;
    left: 50%;   
}