body {
    font-family: "Roboto";
    line-height: 1;
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    height: 100%;
}
a { 
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0 15px;
}
.wrap-header
.header {
    position: absolute;
    width: 100%;
    left:0;
    top: 0;
    z-index: 50;
}
.header__container {
display: flex;
min-height: 109px;
align-items: center;
}
.header__logo {
   font-size: 36px; 
   font-weight: 900;
   color: #0F4898;
}
.header__logo2 {
   font-size: 36px; 
   font-weight: 900;
   color: #FFFFFF;
}
.header__menu {
    margin: 0px 0px 0px 149px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    margin: 0px 0px 0px 20px;
}
.menu__link {
    
    line-height: 257%;
    font-weight: 400;
}
.header__container {
}
.__container {
}
.content {
}