/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.block1 {
    border-radius: 25px;
    border: 1px solid black;
    background: red;
    padding: 15px;
    margin: 150px;
	height: 200px;
	overflow-x: scroll;}
	.bloc1_text{
color: white;
	}
.block2 {
	border-radius: 0px 0px 0px 25px;
	border: 1px solid black;
    background: red;
	padding: 15px;
    margin: 50px;
	box-shadow: 10px 10px 5px gray;
	outline: 10px solid #6666;
	outline-offset: 10px;
}
.button {
    border: solid 1px;
	border-radius: 5px;
    color: red;
	height: 50px;
    width: 150px;
	background-color: #d3d3d3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px;
	cursor: pointer;
}
.button:hover {
    background-color:#c0c0c0;
	color: black;
}
.small {
transition-duration: 2s;
}

.small:hover {
		-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
  }
